
.perfil-nav-user{
    display: flex;
    gap: 16px;
    align-items: flex-start;
}

.perfil-nav-user img{
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.perfil-nav-user-info{
    display: flex;
    flex-direction: column;
    font-size: 15px;
    line-height: 20px;
    font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.perfil-nav-user-info span{
    opacity: 0.4;
}

.perfil-nav-user button{
    width: 77px;
    height: 32px;
    border: 1px solid #fff;
    padding: 8px 17px;
    border-radius: 90px;
    background-color: #fff;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    margin-top: 12px;
}